My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=reply professionaly to yhis mail:\n{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        16
      ],
      "id": "65125a66-2fa2-4439-ade4-bad721b6a479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -64,
        240
      ],
      "id": "4602746d-6adb-46a1-8a18-b758f130e160",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0tqMubvCKeBxoei4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        16
      ],
      "id": "626600b4-74f2-4847-8f8a-30cc5bd6cabb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VGv37oaT94sV2jfB",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Gmail Trigger\"].json[\"From\"]}}",
        "subject": "=Re: {{$node[\"Gmail Trigger\"].json[\"Subject\"]}}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        16
      ],
      "id": "64c31e9f-20cb-4009-a44e-226d34a6c9cf",
      "name": "Send a message",
      "webhookId": "10b12fff-ae25-4b5d-9fd2-b3d6d7ae6782",
      "credentials": {
        "gmailOAuth2": {
          "id": "VGv37oaT94sV2jfB",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e2e0671-f901-4eed-8dc3-f47fd963d650",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff97e40bb5cdbe6c374b13c0b46de96ac459a22791d4cab63c03f5eedcf6b7b4"
  },
  "id": "oDNRK32xViuz1EM4",
  "tags": []
}